[submodule "bootloader"]
	path = bootloader
	url = https://github.com/daniel-thompson/wasp-bootloader
[submodule "micropython"]
	path = micropython
	url = https://github.com/daniel-thompson/micropython
[submodule "tools/intelhex"]
	path = tools/intelhex
	url = https://github.com/python-intelhex/intelhex
[submodule "tools/nrfutil"]
	path = tools/nrfutil
	url = https://github.com/adafruit/Adafruit_nRF52_nrfutil.git
[submodule "wasp/drivers/flash"]
	path = wasp/drivers/flash
	url = https://github.com/daniel-thompson/micropython-eeprom
[submodule "tools/pynus"]
	path = tools/pynus
	url = https://github.com/daniel-thompson/pynus
[submodule "tools/micropython-font-to-py"]
	path = tools/micropython-font-to-py
	url = https://github.com/peterhinch/micropython-font-to-py
[submodule "tools/ota-dfu"]
	path = tools/ota-dfu
	url = https://github.com/daniel-thompson/ota-dfu-python
[submodule "reloader"]
	path = reloader
	url = https://github.com/daniel-thompson/wasp-reloader
[submodule "wasp/modules/bma42x-upy"]
	path = wasp/modules/bma42x-upy
	url = https://github.com/daniel-thompson/bma42x-upy
